*{
    margin: 0;
    padding: 0;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

.d-flex{
    display: flex;
}

.primary_color{
    color: rgba(255, 144, 14, 1);
}

.dark_1{
    color: #131313;
}
.dark_2{
    color: #424242;
}
.dark_3{
    color: #727272;
}

.img_fluid{
    width: 100%;
}

.btn{
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
section{
    margin-top: 100px;
}

/* header style */
.header_bg{
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 35px;
}

.logo{
    font-size: 2.8rem;
    font-weight: 700;
}

.nav_bar{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.link_item{
    list-style: none;
}
.nav_link{
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 500;
}

.nav_bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner style */

.banner_content{
    text-align: center;
    width: 870px;
    margin: 0 auto;

}

.banner_title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 100px;
}

.banner_content{
    margin-bottom: 2rem;
}

.btn_explore{
    cursor: pointer;
}

.banner_img{
    margin-top: 50px;
}

/* our_features style */

.our_features{
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.features_images{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features_content{
    width: 50%;
}

.features_title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.features_inner_content{
    font-size: 16px;
    margin-bottom: 32px;
    max-width: 550px;
    line-height: 26px;
}

/* Features you will love style */
.features_love{
    gap: 130px;
}

.features_love_content{
    width: 50%;
}

.features_love_content h1{
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 130px;
}

.features_love_img{
    width: 50%;
}

.features_love_card{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
}

.features_love_card h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.features_love_card p{
    line-height: 26px;
    font-size: 16px;
}

.btn_f_love{
    margin-left: -90px;
    margin-top: -90px;
}

.years{
    font-size: 4rem;
    font-weight: 700;
    display: block;
}

.experience{
    font-size: 25px;
}

/* fact style */
.fact_title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.fact_content{
    max-width: 550px;
    margin-bottom: 100px;
}

.fact_card_container{
    justify-content: space-around;
    text-align: center;
}

.fact_card{
    border-radius: 8px;
    border: 2px solid rgba(255, 144, 14, 1);
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fact_card img{
    width: 45px;
    margin-bottom: 10px;
}

.fact_card h1{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.fact_card h6{
    font-size: 20px;
    font-weight: 600;
}